/tb_district_iptu_no_geo.parquet
/tb_district_iptu.parquet
/tb_iptu.parquet
/tb_neighborhood_iptu_no_geo.parquet
/tb_neighborhood_iptu.parquet
/tb_ponderation_iptu_no_geo.parquet
/tb_ponderation_iptu.parquet
/tb_zipcode_iptu_no_geo.parquet
/tb_zipcode_iptu.parquet
